body {
	font-family: 'Dimboregular', sans serif;
	background: #518ea0;
	text-align: center;
	user-select: none;
}

@font-face {
    font-family: 'dimboregular';
    src: url('fonts/dimbo_regular-webfont.woff2') format('woff2'),
         url('fonts/dimbo_regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

.container {
	width: 1500px;
	margin: 0 auto 20px auto;
	box-sizing: border-box;
}

.container-view {
	background-color:#e8e2b3;
	padding: 10px;
	border: 6px solid #b9b388;
	border-radius: 20px;
}

.items-pannel {
	text-align: justify;
}

.items-pannel:after{
	content: "";
	display: inline-block;
	width: 100%;
}

.container-item {
	display: inline-block;
	width: 240px;
}
.block{
	
}
.rull_box {
	font-size: 26px;
	height: 200px;
	overflow-y: auto;
}

.chest {
	overflow: hidden;
    display: inline-block;
}

.chest-input {
	opacity: 0;
	position: absolute;
}

.chest-input:disabled:hover  + .chest-text {
    background: url("./images/bashe_spites.png") 1px 0 no-repeat; 
    background-size: contain;
	background-position: bottom center;
	background-size: 130%;
}

.chest-input:disabled + .chest-text {
    opacity: 0.5;
    cursor: default;
}

.chest-text {
	background: url("./images/bashe_spites.png") 1px 0 no-repeat; 
	display: inline-block;
	width: 140px;
    height: 140px;
	text-indent: -999px;
	background-position: top center;
	background-size: 130%;
}

.chest-input:checked + .chest-text {
	background: url("./images/bashe_spites.png") 0 0 no-repeat;
	width: 140px;
    height: 140px;
    background-size: 130%;
    background-position: center center;
}

.chest-text:hover {
	background: url("./images/bashe_spites.png") 0 0 no-repeat;
	width: 140px;
    height: 140px;
    background-position: bottom center;
	background-size: 130%;
}

.chest-input:disabled:hover + .chest-text {
	
}

.figures {
	font-family: sans-serif;
    font-size: 100px;
    text-align: center;
    margin: 25px 15px;
    color: #6500c1;
}

.text {
	text-decoration: none;
	font-family: sans-serif;
    font-size: 30px;
    text-align: center;
    margin: 25px 15px;
    color: #6500c1;
}

h1{
	background: #518ea0; 
    color: #e8e2b3; 
    padding: 2px; 
	font: 5em Dimboregular , sans-serif;
    text-shadow: 6px 1px 0px rgba(123,10,65,0.55);
   }  
   
   ::-webkit-scrollbar {
    width: 15px;
}
 
::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
    border-radius: 10px;
}
 
::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5); 
}

.chest-input.state_1_js + .chest-text {
    border-bottom: 2px solid #8bc34a;
}
.active_item.state_1_js {
    background-color: #8bc34a;
}
.chest-input.state_1_js + .chest-text {
    border-bottom: 2px solid #8bc34a;
}
.active_item.state_1_js {
    background-color: #8bc34a;
}
.chest-input.state_2_js + .chest-text {
  border-bottom: 2px solid #2196f3;
}
.active_item.state_2_js {
    background-color: #2196f3;
}